body {
    grid-template-areas: 
    "top top top" 
    ". . . " 
    ". cart . " 
    ". . . " 
    "footer footer footer";
    grid-template-columns: 1fr 1800px 1fr;
    grid-template-rows: 100px 1fr max-content 1fr 200px;
}

#cart {
    background-color: var(--background-color);
    display: grid;
    font-size: var(--font-size);
    grid-area: cart;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
}

#cart_list {
    background-color: var(--background-color);
}

.cart_item {
    background-color: white;
    box-shadow: var(--box-shadow);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    margin: 15px;
}

.cart_item_img {
    margin: auto;
    width: 100%;
}

.cart_item_info {
    display: grid;
    padding: 15px;
    place-content: start;
}

#cart_summary {
    background-color: var(--background-color);
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    padding: 25px;
    place-content: center;
}

#cart_summary button {
    background-image: linear-gradient(115deg, dodgerblue, fuchsia);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    color: white;
    display: grid;
    font-size: calc(var(--font-size) + 5px);
    font-weight: bolder;
    height: 50px;
    margin: auto;
    place-content: center;
    width: 100%;
}

#cart_summary button:active {
    box-shadow: none;
    transform: translate(1px, 1px);
}

@media screen and (max-width: 1600px) {
    body {
        grid-template-columns: 1fr 1500px 1fr;
    }
}

@media screen and (max-width: 786px) {
    body {
        grid-template-areas: 
        "top" 
        "nav" 
        "cart" 
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 60px 50px max-content max-content;
    }

    #cart {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        margin: 25px 0px;
    }
}

